*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    color: white;
    height: 150px;
    width: 150px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    animation-name: change-back-clr;
    animation-duration: 10s;
}
@keyframes change-back-clr{
    0%{
        background-color: red;
    }
    25%{
        background-color: blue;
    }
    50%{
        background-color: purple;
    }
    75%{
        background-color: black;
    }
    100%{
        
        background-color: darkred;
    }
}